@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6, p, a, li, button{
    color: var(--color-text);
    font-family: "Bricolage Grotesque", sans-serif;
    text-decoration: none;
    list-style: none;
}

h2{
    font-weight: 600;
    font-size: 2.5rem;
}

:root {
  --color-text: #fefae0; 
  --color-background: #283618;
  --color-light-green: #606c38;
  --color-orange: #bc6c25;
}

.close-button{
    display: none;
}

/* Image Headshot */
#image-wrapper{
  position: relative;
  /* max-width: 80vw; */
  /* max-width: 18rem; */
  max-width: clamp(18rem, 80vw, 30rem);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: solid var(--color-orange), 12px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  transition: transform 0.4s ease;
}

#image-wrapper img {
    width: 120%;
    height: auto;               
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    transition: all 0.5s ease;
}

#image-wrapper:hover {
   transform: scale(1.2);
}

.headshot{
    position: absolute;
}

.headshot.hover{
    opacity: 0;
    z-index: 2;
}

#image-wrapper:hover .headshot:default{
    opacity: 0;
}

#image-wrapper:hover .headshot.hover{
    opacity: 1;
}

/* Buttons */
.button{
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: solid, 1px;
    font-size: 2rem;
    padding: 10px;
    width: auto;
}

.button-display{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button-display button{
    width: 100%;
    margin: 0 10px 0 10px;
}

.button:hover{
    background-color: var(--color-text);
    color: var(--color-background);
}

/* Title */
 #title-wrapper{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    padding-top: 3rem;
    flex-direction: column;
    height: 50vh;
    position: relative;
}  

.title-name{    
    font-size: clamp(2.5rem, 13vw, 6rem);
    font-weight: 600;
}

.title-subheading{
    font-size: clamp(1.5rem, 7vw, 20rem);
    padding-top: 0.5rem;
    font-weight: 200;
}


.social-links-title{
    
    padding-top: 2rem;
}

/* Links */
.social-links{
    display: flex;
    gap: 1.5em;
}


/* About */
#about-wrapper{
    height: auto;
    margin: 0 3rem 0 3rem;
}

.about-paragraph{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: clamp(1rem, 1.25rem, 2rem); 
}

/* Portfolio */

#portfolio-wrapper{
    min-height: 100vh;
    margin: 3rem 3rem 0 3rem
}

.portfolio-img{
    height: auto;
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
}

/* Card */

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0 2rem 0;
}

.card-info{
    margin: 2rem 0 2rem 0;
    line-height: 1.5rem;
}

.card-date{
    margin-bottom: 5px;
}

/* Contact */

#contact-wrapper{
    min-height: 100vh;
    width: 90vw;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: 3rem;    
    overflow: hidden;
}

.contact-title{
    font-size: 3rem;
}

.contact-subheading{
    margin: 2rem 0 2rem 0;
    font-weight: 200;
    font-size: 2rem;
}

.contact-info{
    margin-top: 3rem;
    line-height: 3rem;
}

.contact-button{
    width: 20rem;
    margin-top: 3rem;
}

/* blob */

.svg-blob{
    position: absolute;
    bottom: -12%;
    right: -75%;
    width: 200%;
    max-width: 900px;
    height: auto;
    transform: rotate(0.8turn);
    z-index: -1;
}   

@media only screen and (min-width: 600px) {
    #contact-wrapper{
        margin-left: 10%;
        font-size: 2rem;
    }

    .svg-blob{
        right: -55%;
        bottom: -20%;
        width: 150%;
        max-width: 1100px;
    }

    #portfolio-wrapper{
        max-width: 70%;
        display: block;
        margin: 5rem auto 5rem auto;
    }
}

@media only screen and (max-width: 992px) {
    /* On small screen hide item */
    .small-hide{
        display: none;
    }

/* Navbar */
    #navbar{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: clamp(5rem, 50%, 15rem);
        z-index: 1;
        background-color: var(--color-light-green);
        transition: right 0.4s ease-out;
    }

    .navbar-show{
        right: 0 !important;
    }

    .nav-links{
        width: 100%;
        flex-direction: column;
        font-size: 1.5rem;
        line-height: 4rem;
    }

    .nav-link-item{
        display: block;
        padding-left: 2rem;
    }
    .nav-link-item:hover:active{
        background-color: var(--color-orange);
    }

    #close-navbar{
        padding: 1rem;
        cursor: pointer;
    }

    #open-navbar{
        background: none;
        border: none;
        display: block;
        margin-left: auto;
        padding-right: 0.5rem;
        cursor: pointer;
    }
    
    .hamburger-icon{
        width: 4rem;
    }
}

@media only screen and (min-width: 992px) {
    /* On large screen hide item */
    .large-hide{
        display: none;
    }
    
    /* Headshot */
    #image-wrapper{
        border-radius: 0;
        border: 0;
        margin: 0;        
    }
    
    /* Title */
    #title-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        font-size: 0.5rem;
        background-color: var(--color-orange);
        overflow: hidden;
        padding-top: 0;
    }
    
    .title-name{
        font-size: 3.1rem;
    }
    
    .title-subheading{
        font-size: 3rem;
        text-align: center;
        margin-bottom: 20px;
    }
    /* Wrappers */
    .home-wrapper-lg{
        display: flex;
        height: 100vh;
        overflow: hidden;
    }
    
    .left-column{
        width: 40vw;
        height: 100vh;
    }

     #portfolio-wrapper{
        min-height: 100vh;
    }
     
    /* About */
    #about-wrapper{
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .social-links-about{
        display: block;
        margin-left: auto;
        margin-top: 4rem;
    }

    .social-links-about a{
        margin-right: 2.5em;
    }

}

@media only screen and (min-width: 1064px) {
}

@media only screen and (min-width: 1296px) {
     /* Headshot */
    #image-wrapper{
        max-height: 55vh;
        min-width: 30vw;
    }

    /* Title */
    #title-wrapper{
        min-height: 45vh;
    }

    #portfolio-wrapper{
        min-height: 100vh;
        max-width: 50%;
    }

     #about-wrapper{
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left-column{
        height: 100vh;
        width: 30vw;
    }

     .home-wrapper-lg{
        overflow: hidden;
    }
}